<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/learning" autocomplete="on" method="post">
        <label for="Num_of_tops">Количество вершин </label><br>
        <input type="number" id="Num_of_tops" name="Num_of_tops" required><br>
        <label for="Num_of_ribs">Количество ребер </label><br>
        <input type="number" id="Num_of_ribs" name="Num_of_ribs" required><br>
        <label for="Num_of_inputs">Количество входных вершин</label><br>
        <input type="number" id="Num_of_inputs" name="Num_of_inputs" required><br>
        <input type="submit">
    </form>

</body>
</html>